{% extends 'base.html' %}

{% block content %}

<div class="shadow p-3 w-100 mb-5 bg-body-tertiary rounded">

    <div class="card">
        <h5 class="card-header">Об исследовании</h5>
        <div class="card-body">
          <h5 class="card-title">Задача классификации на базе школьных текстов по физике</h5>
          <p class="card-text">Зачастую, формирование дидактического материала учителем основано на персональном опыте, что противоречит принципам научного познания, которые базируются на учете повторяющихся закономерностей. С данной позиции, определение релевантности текста на основе формальных признаков является научно обоснованным, поэтому автоматическая классификация текстов на базе утвержденных ФГОС учебных текстов может позволить разработать программное средство, целью которого является предоставление набора признаков текста, способных научно обосновать решение о конкретном тексте на основе его формальных признаков.</p>
          <p class="card-text">Мы собрали корпус учебников по Физике, утвержденных ФГОС для выделения из текстов лексических формальных признаков согласно принятой нами градации текстов.</p>
          <p class="card-text">В результате мы можем провести классификацию по тематическому модулю текста и по релевантному году обучения для школьных текстов по физике.</p>
          <p class="card-text">Для наших задач мы апробировали 6 методов классификации, но лучшими показателями с нашими данными проявили себя две модлели, обученные методом Наивного Байеса.</p>
          <p class="card-text">В таблице ниже содержатся дескриптивные показатели о качестве работы модели для <a href="{{ url_for('classify_topic') }}">Анализатора тематического модуля</a>:</p>    
          <p class="card-text">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Категория</th>
                    <th scope="col">Полнота</th>
                    <th scope="col">Точность</th>
                    <th scope="col">F-мера</th>
                </tr>
                </thead>
                <tbody>
                <tr><td>Астрономия</td><td>1.00</td><td>0.83</td><td>0.91</td></tr>
                <tr><td>Квантовая физика</td><td>1.00</td><td>0.92</td><td>0.96</td></tr>
                <tr><td>Механика</td><td>0.94</td><td>0.84</td><td>0.89</td></tr>
                <tr><td>Молекулярная физика</td><td>0.93</td><td>0.93</td><td>0.93</td></tr>
                <tr><td>Оптика</td><td>0.71</td><td>0.83</td><td>0.77</td></tr>
                <tr><td>Работа, мощность, энергия</td><td>0.25</td><td>1.00</td><td>0.40</td></tr>
                <tr><td>Теория относительности</td><td>1.00</td><td>1.00</td><td>1.00</td></tr>
                <tr><td>Физика колебаний и волн</td><td>0.40</td><td>0.67</td><td>0.50</td></tr>
                <tr><td>Электродинамика</td><td>0.90</td><td>0.90</td><td>0.90</td></tr>
                <tr><td>Среднее (по всем категориям)</td><td>0.79</td><td>0.88</td><td>0.81</td></tr>
                </tbody>
            </table>
          </p>
          <p class="card-text">Для модели, внедренной в <a href="{{ url_for('classify_grade') }}">Анализатор года обучения</a>, дескриптивные показатели выглядят так:</p>
          <p class="card-text">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Категория</th>
                    <th scope="col">Полнота</th>
                    <th scope="col">Точность</th>
                    <th scope="col">F-мера</th>
                </tr>
                </thead>
                <tbody>
                <tr><td>7 класс</td><td>0.80</td><td>0.97</td><td>0.88</td></tr>
                <tr><td>8 класс</td><td>0.81</td><td>0.92</td><td>0.86</td></tr>
                <tr><td>9 класс</td><td>0.80</td><td>0.94</td><td>0.87</td></tr>
                <tr><td>10 класс</td><td>0.95</td><td>0.85</td><td>0.90</td></tr>
                <tr><td>11 класс</td><td>0.96</td><td>0.88</td><td>0.92</td></tr>
                <tr><td>Среднее (по всем категориям)</td><td>0.87</td><td>0.91</td><td>0.89</td></tr>
                </tbody>
            </table>
          </p>
        </div>
      </div>
    
</div> 

{% endblock %}